<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
  </nav>
  <h1>{{ site.title }}</h1>
  0{{site.collections}}
  1{{site.posts}}
    2{{site.topics}}
  {% for topics in site.collections.topics %}
  <h2>
    <a href="{{ topics.url }}">
      {{ topics.name }} - {{ topics.position }}
    </a>
  </h2>
  <p>{{ topics.content | markdownify }}</p>
  {% endfor %}
  <section>
    {{ content }}
  </section>
  <footer>
    &copy; to me 2
  </footer>
</body>

</html>